.Cart-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        margin: 1rem auto;
    }

p{
    font-weight: 700;
}
    a{
        text-decoration: none;
        margin: 1rem;
    }
}