.Cart-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        margin: 1rem auto;
    }

p{
    font-weight: 700;
}
    a{
        text-decoration: none;
        margin: 1rem;
    }
}




//  cart-show-container

.cart-show-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;

  p{
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
}