.about-us-container{
    

    .about-us-box{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: start;
        width: 100%;
        gap: var(--display-gap);

        img{
            width: 50%;
            border-radius: var(--primary-border-radius);

            @media (max-width: 992px) {
                 width: 100%;
            }
        }

        @media (max-width: 992px ) {
            flex-direction: column;
        }

    }
}