.bread-crumb-card{
    margin-top: 20px;
    padding: 10px ;
    display: flex;
    align-items: center;
    font-family: var(--primary-font-family);
    font-size: 1.2rem;

    a{
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        color: var(--dark-color);
        text-decoration: none;
        gap: 5px;
        font-size: 1.2rem;

    }
    span{
        display: flex;
        align-items: center;
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.7);
    }
}