
// Cart-main-container

.cart-main-container{
  display: flex;
  width: 100%;
  gap: 20px;
  margin-top: 3rem;


  .width{
    width: 70%;

    @media (max-width : 990px) {
        width: 100%;
      }
  }

  // Cart-component-container

.cart-comp-container {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: var(--primary-border-radius);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 20px;
    width: 100%;
  
    img {
      height: 300px;
      width: 280px;
      margin-right: 20px;
      border-radius: var(--primary-border-radius);

      @media (max-width : 768px) {
        margin-bottom: 20px;
    }
    }
    .cart-text {
      display: flex;
      flex-direction: column;
  
      div {
  
        &:first-child {
          margin-bottom: 30px;
  
          h3 {
  
              span {
                font-weight: normal;
              }
            }
        }
      }
  
      .input-value {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
  
       .value{
        font-size: 1rem;
        background: var(--light-color);
        padding: 5px 20px;
        margin: 0 5px;
        border-radius: 5px;
       }
  
        .input-btn {
          border: 0;
          color: var(--dark-color);
          font-size: 1rem;
          margin: 0px;
          padding: 0px 5px;
          cursor: pointer;
        }
      }
      .delete-btn {
  
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--secondary-color);
      }
    }

    @media (max-width : 768px) {
        flex-direction: column;
        align-items: start;
    }

  }


  // Cart-Price-component

  .cart-price-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: var(--primary-border-radius);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 20px;
    height: 250px;

    h2{
        margin-bottom: 20px;
    }

    .clear-cart{
      margin-left: 10px;
    }

    
  @media (max-width : 990px) {
    width: 100%;
  }
  }

  @media (max-width : 990px) {
    flex-direction: column;
    
  }
}




//  cart-show-container

.cart-show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;

  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
}
